.nav-container {
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px 4px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-container a {
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: row;
}

.links button {
  display: flex;
  background: transparent;
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 14px;
  transition: all 0.2s ease-out;
  color: #ebebeb;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.btn-create-pokemon:hover {
  background: #ff1a1a;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.nav-container img {
  width: 30px;
  filter: invert(100%);
}

.icon-pokemon {
  transition: 0.3s ease-out;
}

.logout {
  transition: 0.3s ease-out;
}

.logout:hover {
  transform: translateX(-5px);
}

.icon-pokemon:hover {
  transform: translateX(5px);
}
