.nav-container {
  background: #c2c2c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px 0 40px;
}

.nav-container a {
  color: ghostwhite;
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: row;
}

.links button {
  display: flex;
  background: transparent;
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 14px;
  transform: translateY(-4px);
  transition: all 0.2s ease-out;
}

.btn-create-pokemon:hover {
  background: #ff1a1a;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  color: #ebebeb;
  transform: translateY(-6px);
}

.nav-container img {
  width: 30px;
}

.icon-pokemon {
  transition: 0.3s ease-out;
}

.logout {
  transition: 0.3s ease-out;
}

.logout:hover {
  transform: translateX(-5px);
}

.icon-pokemon:hover {
  transform: translateX(5px);
}
