.nav-container {
  background: #c2c2c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 40px;
}

.nav-container a {
  color: ghostwhite;
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: row;
}

.links button {
  display: flex;
  background: transparent;
  border: none;
  padding: 10px 12px;
  border-radius: 12px;
  margin-left: 30px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.btn-home:hover,
.btn-create-pokemon:hover {
  background: #ff1a1a;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  color: #ebebeb;
}

.nav-container img {
  width: 40px;
}

.logout {
  transition: 0.3s ease-out;
}

.logout:hover {
  transform: translateX(-5px);
}