.container-home {
  display: flex;
  justify-content: center;
  padding-left: 240px;
}

.container-sidebar {
  position: absolute;
  left: 0;
  width: 240px;
  padding-left: 10px;
  padding-top: 20px;
  border-radius: 0 0 24px 0;
  box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.4);
  background: #ebebeb;
}