.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-cards h1 {
  margin: 10px 0;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.container-cards a {
  color: black;
  text-decoration: none;
}

.pokemons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-left: 1px solid #c2c2c2;
}

.text-container-detail {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.text-container-detail p {
  justify-content: end;
}

.pokemon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  background: url(../../Assets/Forest.jpg);
  margin: 16px 16px;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid black;
  transition: all 0.3s ease;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.pokemon img {
  width: 150px;
}

.pokemon:hover {
 transform: translateY(-20px);
 box-shadow: 10px 30px 8px rgba(0, 0, 0, 0.4);
}